html,
body {
  margin: 0;
  padding: 0;
}

.dashboard {
  height: 8vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url('images/blue-banner.jpg') no-repeat;
  background-size: cover;
}

.about {
  margin-left: 2vw;
}

#contact {
  font-size: 2vw;
}

.navButton {
  background-color: transparent;
  border: 0px;
  height: 100%;
  width: 13vw;
  margin-right: 5vw;
  margin-top: 5vw;
  font-family: 'Cousine', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  display: flex;
  align-items: flex-start;
  color: white;
}

.banner {
  background: url('images/leaf-background.jpg') no-repeat center;
  height: 8vw;
  width: 100%;
  background-size: cover;
  margin-bottom: 1vw;
}
#first {
  font-size: 3vw;
  margin-left: 14%;
  font-weight: bold;
  font-family: 'Faster One', sans-serif;
  color: green;
}
.bannerText {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 17%;
  width: 83%;
  font-size: 1.5vw;
  font-family: 'Cousine', sans-serif;
  color: #0074d9;
}
.logo {
  height: 7vw;
  margin-right: 6vw;
}

.homepage {
  display: flex;
  height: 80vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('images/water background.jpg') no-repeat center;
  background-size: cover;
}

.image-gallery {
  margin: 0 auto;
  height: 50vw;
  width: 50vw;
}
.technical {
  margin-top: 1vw;
}
.use {
  margin-left: 1vw;
}
