.dashboard {
  border: black solid 1px;
  height: 8vw;
  position: relative;
}

.dropdown {
  display: inline;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 2.75vw;
}

.slide {
  margin: auto;
  height: 25vw;
  width: 35vw;
  flex: 2;
}
.nextArrow {
  margin: auto;
  display: inline-block;
  flex: 1;
}

.backArrow {
  margin: auto;
  display: inline-block;
  flex: 1;
}
.fa-arrow-left {
  float: left;
}
.fa-arrow-right {
  float: right;
}
.slideshow {
  display: flex;
  justify-content: center;
}
